# Core ML Libraries
mlflow
dagshub
scikit-learn

# Data Processing
pandas
numpy

# NLP Libraries
spacy
nltk
re

# Web Framework
Flask
gunicorn

# Monitoring
prometheus-client

# Python Environment
python-dotenv

# Testing
pytest
great-expectations

# Utilities
requests
click

dvc
-e .